:root{
    font-family: 'Source Sans Pro';
    font-weight: 400;
    --default-color: #4b4b4b;
    --primary-color: #3f6eff;
    ul,ol{
        list-style: none;
    }
    a{
        text-decoration: none;
        color: inherit;
    }
    
}


*:not(svg){
    margin: 0;
    padding: 0;
}